.btn{
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    background-color: #DBB5B5;
    width: 250px;
    height: 60px;
    align-items: center;
    border: 1px solid ;
    margin: 10px auto;
    transition: .8s;
}

.btn:hover{
    color: #987070;
    background-color: #DBB5B5;
}